<div id="menuToggle">
    <input type="checkbox">
    <span id="span1"></span>
    <span id="span2"></span>
    <span id="span3"></span>
    <nav class="nav-menu">
      <div class="nav1">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/design">Design</a>
        <a href="/contact">Contact</a>
        <a id="searchnav" href="/search">Search</a>
        <a id="Signupnav" href="/login">Register</a>
        <a id="admin-dash" href="/dashboard">Admin</a>
      </div>
    </nav>
      </div>
      
