<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <style>
        .nav1 a{
            color: black;
        }
        #menuToggle span{
            background-color: black;
        }
    </style>
      <link rel="stylesheet" href="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.css"/>
      <script src="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
      <script src="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body>
    <div id="google_translate_element">

    <div id="menuToggle-about">
        <input type="checkbox">
        <span id="span1"></span>
        <span id="span2"></span>
        <span id="span3"></span>
        <nav class="nav-menu">
          <div class="nav1-about">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/design">Design</a>
            <a href="/contact">Contact</a>
            <a id="searchnav" href="/search">Search</a>
            <a id="Signupnav" href="/login">Register</a>
            <a id="admin-dash" href="dashboard.html">Admin</a>
          </div>
          </div>
        </nav>
    </div>



    <div class="intro"></div>
    <%- include("./partials/chatgpt.ejs") %>

    <div class="section1">
        <div class="Lsection1">
            About us
        </div>
        <div class="Rsection1">
            <p class="inRsection1">
                ReEstate is a privately held full-service creative life science, 
                creative office, and industrial real estate management
                firm
            </p>
        </div>
    </div>
    <div>
        <img class="imgs1" src="./images/about_hero_c.webp">
    </div>
    <span>

    
    <div class="section2">
        <div class="Lsection2">
            Strength +
            <div class="Lsection2_nofill">
                Flexibility
            </div>
        </div>
        <div class="Rsection2">
            <div class="titleRsection2">
                We create spaces focused on elevated and exceptional user experiences. 
                Through unparalleled design and thoughtful execution,
                 we spark creativity and invigorate collaboration.
            </div>
            <div class="topRsection2">
                ReEstate and its predecessor companies, 
                Legacy Partners Commercial and Lincoln Property West,
                 have been active in commercial real estate for over 50 years.
                  We are a vertically integrated real estate company, 
                  believing that an “all-hands-on deck” team approach to managing real 
                  estate assets is superior to an allocator’s model of outsourcing to third-party 
                  service providers.
            </div>
            <div data-cursor-text="History" class="botinRsection2">
                Our History
                <div class="imgsection3">
                    <img class="img3" src="./images/download (1).png">
                </div>

            </div>
        </div>
    </div>
    <div class="marquee-w">
        <div class="marquee">
            <span>-READ ABOUT OUR HISTORY</span>
        </div>
        <div class="marquee marquee2">
            <span>-READ ABOUT OUR HISTORY</span>
        </div>

    </div>
    <div class="section3">
        <div class="Lsection3">
            <div class="upinLsection3">
                Integrity is the foundation of good business,
                and we value it above all.
            </div>
            <div class="midinLsection3">
                In our name, you’ll find our ethos. Steel represents our
                strength, discipline & experience—while Wave represents our fluidity,
                creativity, and drive to continually innovate.
                It’s the rare combination of these elements that defines ReEstate and the partnerships
                we forget
            </div>
            <div data-cursor-text=" About us " class="botinLsection3">
                About Us
                <div class="imgsection3">
                    <img class="img3" src="./images/download (1).png">
                </div>

            </div>
        </div>
        <div class="Rsection3">
            <img class="inRsection3" src="./images/TheLink-215753_v2_1.webp">
        </div>
    </div>
    <div class="section4">
        <div class="Lsection4">
            Core Values
        </div>
        <div class="Rsection4">
            <div class="block1">
                <div class="inblock1">
                    <div data-text="01" class="block1num">
                        01
                    </div>
                    <div class="block1cont">
                        <div class="block1title">
                            Experience
                        </div>
                        <div class="block1body">
                            We are one of the most seasoned real estate investment 
                            teams in the Western United States, 
                            investing across multiple market cycles with 
                            an elite group of capital providers for over 50 years. 
                            The 23 most senior ReEstate professionals have an average tenure of 22 years 
                            working together as a team, and 30 years in the real estate industry.
                        </div>
                    </div>
                </div>
            </div>
            <div class="block1">
                <div class="inblock1">
                    <div data-text="02" class="block1num">
                        02
                    </div>
                    <div class="block1cont">
                        <div class="block1title">
                            Execution
                        </div>
                        <div class="block1body">
                            The saying goes: if you want something done right,
                             do it yourself. That's why we do it all. 
                             We believe that an all-hands-on-deck team approach to managing 
                             real estate assets are superior to an allocator's model of 
                             outsourcing to a variety of third-party service providers. 
                             To that end, we've built a fully integrated development, acquisition,
                              asset management, property management, leasing, architectural 
                              and construction company.
                        </div>
                    </div>
                </div>
            </div>
            <div class="block1">
                <div class="inblock1">
                    <div data-text="03" class="block1num">
                       03
                    </div>
                    <div class="block1cont">
                        <div class="block1title">
                            Innovation
                        </div>
                        <div class="block1body">
                            We embrace innovation and see opportunity where others can’t.
                             We think without limitations to create change instead of waiting 
                             to adapt to change.
                        </div>
                    </div>
                </div>
            </div>
            <div class="block1">
                <div class="inblock1">
                    <div data-text="04" class="block1num">
                        04
                    </div>
                    <div class="block1cont">
                        <div class="block1title">
                            Passion
                        </div>
                        <div class="block1body">
                            We are deeply passionate about what we do, 
                            how we do it and when we do it. 
                            We hire and nurture team members who have demonstrated a track record 
                            of passion and a commitment to excellence in everything that they do.
                             These are the attributes that define the essence of 
                             who we are as individuals and as a company
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="imgs1" src="./images/DJBPhoto1806081301_midres_1.webp">
    </div>
    <div class="section5">
        <div class="Lsection5">
            Our <span>Team</span> 
        </div>
        <div class="Rsection5">
           <div class="inRsection5">
            As creative problem-solvers, 
            ReEstate creates exceptional environments and delivers enduring 
            value for every investor, partner, and client.
           </div>
        </div>
    </div>
    <div class="section6">
        <div class="uppersection6">
            <div class="disc1">
                <div class="name1">
                    Mario Magdy
                </div>
                <div class="smth1">
                    2021/00022 CS Student
                </div>

            </div>
            <div class="disc2">
                <div class="name2">
                    Abdelrahman Emad
                </div>
                <div class="smth2">
                    2021/07436 CS Student
                </div>
            </div>
            <div class="disc3">
                <div class="name3">
                    Abdelrahman Mohamed
                </div>
                <div class="smth3">
                    2021/10423 CS Student
                </div>
            </div>

        </div>
        <div class="lowersection6">
            <div class="disc4">
                <div class="name4">
                    Youssef Sherif
                </div>
                <div class="smth4">
                    2021/03395 CS Student
                </div>

            </div>
            <div class="disc5">
                <div class="name5">
                    Youssef Ehab
                </div>
                <div class="smth5">
                    2021/01700 CS Student
                </div>
            </div>
        </div>

    </div>
    <div class="watermark">
        Charity
    </div>
  <div class="section7">
   
    <div class="Rsection7">
        <div class="titleRsection7">
            Making a <span>meaningful</span> impact
        </div>
        <div class="bodyRsection7">
            ReEstate doesn’t just create spaces—we create communities. 
            We’re proud to give back to the organizations 
            that make our communities healthier and more resilient.    
        </div>

    </div>
    <div class="Lsection7">
        <img class="imgsection7" src="./images/charity-image2.webp">
    </div>

  </div>
  <div data-cursor-text=" Contact " class="section8">
    Let's Talk 
    <div class="imgsection3">
        <img class="img3 img4" src="./images/download (1).png">
    </div>
</div>
<%- include("./partials/footer.ejs") %>
</div>
</body>
<script src="./scripts/about.js"></script>

</html>
<script>
    const cursor = new MouseFollower({
      el: null,
      container: document.body,
      className: "mf-cursor",
      innerClassName: "mf-cursor-inner",
      textClassName: "mf-cursor-text",
      mediaClassName: "mf-cursor-media",
      mediaBoxClassName: "mf-cursor-media-box",
      iconSvgClassName: "mf-svgsprite",
      iconSvgNamePrefix: "-",
      iconSvgSrc: "",
      dataAttr: "cursor",
      hiddenState: "-hidden",
      textState: "-text",
      iconState: "-icon",
      activeState: "-active",
      mediaState: "-media",
      stateDetection: {
        "-pointer": "a,button",
        "-hidden": "iframe"
      },
      visible: true,
      visibleOnState: false,
      speed: 1,
      ease: "expo.out",
      overwrite: true,
      skewing: 0,
      skewingText: 0,
      skewingIcon: 2,
      skewingMedia: 2,
      skewingDelta: 0.001,
      skewingDeltaMax: 0.15,
      stickDelta: 0.15,
      showTimeout: 20,
      hideOnLeave: true,
      hideTimeout: 300,
      hideMediaTimeout: 300,
    });
  </script>
  <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
