<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/compare.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 style="text-align: center;">Compare Properties</h1>
    </header>
    <div class="pricingdiv">
        <ul class="theplan">
            <div id="img1">
            </div>
          <div class="block-wrap">
                <h2 class="title1" id="title-prop1"></h2>
            <div class="detail-wrap-table">
                <div class="rowData">
                    <div><strong>City:</stong></div>
                    <div  id="location1"></div>
                </div>
                <div class="rowData">
                    <div><strong>Price:</stong></div>
                        <span id="price1"></span>
                    </div>
                <div class="rowData">
                    <div><strong>Property Size:</strong></div>
                    <div id="area1"></div>
                </div>
                <div class="rowData">
                    <div><strong>Bedrooms:</strong></div>
                    <div id="bedroom1"></div>
                </div>
                <div class="rowData">
                    <div><strong>Bathrooms:</strong></div>
                    <div id="bathroom1"></div>
                </div>
                <div class="rowData">
                    <div><strong>Property Type:</strong></div>
                    <div id="type1"></div>
                </div>
                <div class="rowData">
                    <div><strong>Property Status:</strong>
                    </div>
                    <div id="cond1"></div>
                </div>
            </div>
        </div>
        <button class="firstProperty">Go To The Property</button>
        </ul>
        <ul class="theplan">
            <div id="img2">
            </div>
          <div class="block-wrap">
                <h2 class="title1" id="title-prop2"></h2>
            <div class="detail-wrap-table">
                <div class="rowData">
                    <div><strong>City:</stong></div>
                    <div id="location2"></div>
                </div>
                <div class="rowData">
                    <div><strong>Price:</stong></div>
                        <span id="price2"></span>
                    </div>
                <div class="rowData">
                    <div><strong>Property Size:</strong></div>
                    <div id="area2"> </div>
                </div>
                <div class="rowData">
                    <div><strong>Bedrooms:</strong></div>
                    <div id="bedroom2"></div>
                </div>
                <div class="rowData">
                    <div><strong>Bathrooms:</strong></div>
                    <div id="bathroom2"></div>
                </div>
                <div class="rowData">
                    <div><strong>Property Type:</strong></div>
                    <div id="type2"></div>
                </div>
                <div class="rowData">
                    <div><strong>Property Status:</strong>
                    </div>
                    <div id="cond2"></div>
                </div>
            </div>
        </div>
        <button class="secProperty">Go To The Property </button>

        </ul>
      </div>
      </table>
  </body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="../scripts/compare.js"></script>