/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@font-face {
  font-family: 'BW Gradual';
  src: url(fonts/BwGradualDEMO-Light.ttf);
}

@font-face {
  font-family: 'BW Gradual Bold';
  src: url(fonts/BwGradualDEMO-Bold.ttf);
}

@font-face {
  font-family: 'Degular';
  src: url(fonts/Degular-Light.ttf);
}

.mf-cursor{
  position:fixed;
  top:0;
  left:0;
  z-index:250;
  direction:ltr;
  contain:layout style size;
  pointer-events:none;
  transition:opacity .3s,color .4s;
  color:rgb(0, 0, 0)
}
.mf-cursor:before{
  content:"";
  position:absolute;
  top:-24px;
  left:-24px;
  display:block;
  width:48px;
  height:48px;
  transform:scale(0.2);
  background:currentColor;
  border-radius:50%;
  transition:transform .25s ease-in-out,opacity .1s
}
.mf-cursor-text{
position:absolute;
top:-18px;
left:-18px;
width:36px;
height:36px;
display:flex;
align-items:center;
justify-content:center;
transform:scale(0) rotate(10deg);
opacity:0;
color:#ffffff;
font-size:16px;
line-height:20px;
text-align:center;
transition:opacity .4s,transform .3s
}
.mf-cursor.-text:before{
  opacity:.95;
  transform:scale(1.7);
  /* color: transparent;
  border-color: red;
  border-style: solid;
  border-radius: 4px;
  border-radius: 50%; */
}
.intro
    {
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #171717;
        transition: 1s;
    }
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: rgb(187, 1, 1) --second-color: linear-gradient(to right, rgb(215, 0, 64), rgb(136, 8, 8));
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: hsl(228, 15%, 50%);
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #fff;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Degular', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 1.2rem;
  --small-font-size: 1rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
h1 {
  font-family: 'BW Gradual';
}

h2 {
  font-family: 'BW Gradual';
}

span {
  font-family: 'Degular';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: #fff;
  color: var(--text-color);
  transition: .3s;
  /* For animation dark mode */
  padding-top: 10rem;
  padding-right: 0;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
  
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 2rem;
    background-color: var(--container-color);
    box-shadow: 0 8px 24px hsla(228, 66%, 45%, .15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.30rem 3rem;
    border-radius: 1.25rem;
    transition: .4s;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    color: var(--text-color);
    display: flex;
    padding: .5rem;
    border-radius: 50%;
  }

  .nav__link i {
    font-size: 1.25rem;
  }
  .nav__link span {
    display: none;
  }
}
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(228, 4%, 15%, .1);
}
.scroll-header .nav__logo {
  color: var(--first-color);
}
.active-link {
  background: linear-gradient(101deg, hsl(228, 66%, 53%), hsl(228, 66%, 47%));
  color: #fff;
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, .25);
}

.container2{
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-top: 5%;
  margin-left: 8%;
  
}
.list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 450px 450px 450px;
  width: 100%;
}
.filter-search {
  display: block;
  width:73%;
  height: 130px;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 5px;
  margin-left: 11%;
  margin-top: -10%;
  margin-right: 1%;
  box-shadow: 0 1px 4px hsla(228, 4%, 15%,.3);
  background-color: whitesmoke;
}
.filter-search div,
.filter-search select {
  margin-bottom: .25rem;
  border-radius: 20px;
  border-color: white;
  color: white;
}

.filter-search select {
  border-radius: .25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  border-color: black;
  color: white;
}

.input-values{
  width: 230px;
  max-height: 20%;
  color: rgb(102, 102, 102);
  border-radius: 10px;
  margin: 15px;
  margin-left:17px ;
  padding: 10px;
  display: flex;
  flex-direction:column;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
}
.inputcont{
  display: flex;
  flex-direction: row;
}
.area-price{
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.num-buttons{
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
}
.btns{
  width: 35px;
  height: 35px;
  border-radius: 30px;
  font-size: 12px;
  background: transparent;
}
.btns:hover{
  color:  #7c142c;
  border: 1px solid  #7c142c;
  cursor: pointer;
}
.btns:focus{
  background-color:#7c142c;
  color: white; 
}
.btns2{
  width: 35px;
  height: 35px;
  border-radius: 30px;
  font-size: 15px;
  background: transparent;
  padding-left: 8%;
  text-align: center;
  
}
.btns2:hover{
  color:  #7c142c;
  border: 1px solid  #7c142c;
  cursor: pointer;
  border-radius: 50px;
  width: 100%;
  text-align: left;

}
.btns2:focus{
  background-color:#7c142c;
  color: white; 
}
.btnsB{
  width: 35px;
  height: 35px;
  border-radius: 30px;
  font-size: 12px;
  background: transparent;
}
.btnsB:hover{
  color:  #7c142c;
  border: 1px solid  #7c142c;
  cursor: pointer;
}
.btnsB:focus{
  background-color:#7c142c;
  color: white; 
}
.sub-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
}

.sub {
  padding: 10px;
  background-color: #7c142c;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s;
  width: 100px;
  margin-top: 2%;
  font-size: 18px;
}

.__title{
  display: flex;
  justify-content: center;
  font-size: 7rem;
  padding-bottom: 4rem;
  font-family: 'BW Gradual Bold';
  color: white;
  text-align: center;
  margin-top: -30%;
  margin-bottom:22%
}
.__titleH2{

  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding-bottom: 4rem;
  font-family: 'BW Gradual Bold';
  color: white;
  text-align: center;
  margin-top: -25%;
  margin-bottom:25%

}
.pagination{

}
.pagination ul{
  position: relative;
  background: #fff;
  display: flex;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.pagination ul li{
  list-style: none;
  line-height: 50px;
  margin: 0 5px;
}
.pagination ul li.pageNumber{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.pagination ul li a{
  display: block;
  text-decoration: none;
  color: #777;
  font-weight: 600;
  border-radius: 50%;
}
.pagination ul li.pageNumber:hover a,
.pagination ul li.pageNumber.active a{
  background: #333;
  color: #fff;
}
.pagination ul li:first-child{
  margin-right: 30px;
  font-weight: 700;
  font-size: 20px;
}
.pagination ul li:last-child{
  margin-left: 30px;
  font-weight: 700;
  font-size: 20px;
}

.dropbtn {
  background-color: darkgrey;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  margin-left:-10%;
  margin-right: 5%;
  width: 100px;
}
.dropbtn2 {
  background-color: darkgrey;
  color: white;
  padding: 10px;
  font-size: 16px;
  cursor: text;
  border-radius: 20px;
  margin-left:-10%;
  margin-right: 5%;
  width: 90px;
}
.dropdown {
  position:relative;
  display: inline-block;
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -35%;
  overflow: hidden;
  cursor: pointer;
}
.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;

}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
 
}


.dropdown:hover .dropbtn {
  background-color: darkgrey;
}

.scroll-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #7c142c;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-size: 25px;
}

::placeholder { 
  color: white;
  
}
.errmsg{
  font-size: 24px;
  margin-left: 12%;
  margin-top: -10%;
}

@media screen and (min-width: 360px) and (max-width: 380px)
{
  .__title{
    display: block;
    
    font-size: 3rem;
    padding-bottom: 2rem;
    
   margin-top: -150%; 
   
  }
  .__titleH2{
  
    display: block;
   
    font-size: 1.5rem;
    padding-bottom: 2rem;
    
  
    margin-bottom:70%
  
  } 
  .filter-search {
    display: block;
    justify-content: space-between;
    width:350px;
    height: 600px;
    margin-left: 4%;
    margin-top: 350px;
    margin-right: 1%;
    box-shadow: 0 1px 4px hsla(228, 4%, 15%,.3);
    background-color: whitesmoke;
  }
  .dropbtn {
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    margin-left:-10%;
    margin-right: 5%;
    width:300px;
    display: block;
  }
  .dropdown {
    position:relative;
    display:block;
    width: 300px;
  }
  .dropbtn2 {
   
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: text;
    margin-left:-10%;
    margin-right: 5%;
    width: 120px;
  }
  .input-values{
    display: block;
  }
  .sub-button {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 1rem;
  }
  .inputcont{
    display: block;
    margin-left: 5%;
  }
  .dropdown-content {
   
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -15%;
    
  }
  .area-price {
    display: flex;
    gap: 50px;
    padding-left: 5px;
    padding-bottom: 2px;
    position: center;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin-top: 5%;
  margin-left: 100%;
}
.list-grid {
  display: block;
  width: 100%;
}
.popular__card {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5%;
  width: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-height: 650px;
  min-height: 650px;
  
}
}

@media screen and (min-width: 381px) and (max-width: 400px)
{
  .__title{
    display: block;
    
    font-size: 3rem;
    padding-bottom: 2rem;
    
   margin-top: -130%; 
   
  }
  .__titleH2{
  
    display: block;
   
    font-size: 1.5rem;
    padding-bottom: 2rem;
    
  margin-left: 2%;
  margin-right: 2%;
    margin-bottom:70%
  
  } 
  .filter-search {
    display: block;
    justify-content: space-between;
    width:350px;
    height: 600px;
    margin-left: 5%;
    margin-top: 300px;
    margin-right: 1%;
    box-shadow: 0 1px 4px hsla(228, 4%, 15%,.3);
    background-color: whitesmoke;
  }
  .dropbtn {
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    margin-left:-10%;
    margin-right: 5%;
    width:300px;
    display: block;
  }
  .dropdown {
    position:relative;
    display:block;
    width: 300px;
  }
  .dropbtn2 {
   
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: text;
    margin-left:-10%;
    margin-right: 5%;
    width: 120px;
  }
  .input-values{
    display: block;
  }
  .sub-button {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 1rem;
  }
  .inputcont{
    display: block;
    margin-left: 5%;
  }
  .dropdown-content {
   
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -15%;
    
  }
  .area-price {
    display: flex;
    gap: 50px;
    padding-left: 5px;
    padding-bottom: 2px;
    position: center;
}
.container2 {
  display: block;
  
  width: 15%;
  margin-top: 5%;
  margin-left: 5%;
}
.list-grid {
  display: block;
  width: 100%;
}
.popular__card {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5%;
  width: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-height: 650px;
  min-height: 650px;
  
}  
}
@media screen and (min-width: 401px) and (max-width: 420px)
{
  .__title{
    display: block;
    
    font-size: 3rem;
    padding-bottom: 2rem;
    
   margin-top: -120%; 
   
  }
  .__titleH2{
  
    display: block;
   
    font-size: 1.5rem;
    padding-bottom: 2rem;
    
  margin-left: 2%;
  margin-right: 2%;
    margin-bottom:70%
  
  } 
  .filter-search {
    display: block;
    justify-content: space-between;
    width:350px;
    height: 600px;
    margin-left: 7%;
    margin-top: 300px;
    margin-right: 1%;
    box-shadow: 0 1px 4px hsla(228, 4%, 15%,.3);
    background-color: whitesmoke;
  }
  .dropbtn {
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    margin-left:-10%;
    margin-right: 5%;
    width:300px;
    display: block;
  }
  .dropdown {
    position:relative;
    display:block;
    width: 300px;
  }
  .dropbtn2 {
   
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: text;
    margin-left:-10%;
    margin-right: 5%;
    width: 120px;
  }
  .input-values{
    display: block;
  }
  .sub-button {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 1rem;
  }
  .inputcont{
    display: block;
    margin-left: 5%;
  }
  .dropdown-content {
   
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -15%;
    
  }
  .area-price {
    display: flex;
    gap: 50px;
    padding-left: 5px;
    padding-bottom: 2px;
    position: center;
}
.container2 {
  display: block;
  
  width: 15%;
  margin-top: 5%;
  margin-left: 7%;
}
.list-grid {
  display: block;
  width: 100%;
}
.popular__card {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5%;
  width: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-height: 650px;
  min-height: 650px;
}    
}
